/*######################################################################## 
                            CENTER SPACE VARIABLE                                 
#########################################################################*/

$center-space: 95%;





/*######################################################################## 
                            ICON SIZE NAVBAR VARIABLE                                  
#########################################################################*/

$iconSize-navbar: 18px;





/*######################################################################## 
                            TEXT-COLOR VARIABLES                                  
#########################################################################*/

$primary-color: #3AAFA9;
$primary-dark-color: #2B7A78;
$secondary-color: #17252A;
$secondary-dark-color: #0B0C10;
$white-color: #FFF;
$white1-color: #FEFFFF;
$white2-color: #DEF2F1;







/*######################################################################## 
                            TEXT-COLOR VARIABLES                                  
#########################################################################*/

$text-white: white;
$text-black: black;
$text-grey-light: #E0E0E0;
$text-grey1: #BDBDBD;
$text-grey2: #9E9E9E;
$text-grey3: #333;





/*######################################################################## 
                            FONT SIZE VARIABLES                                  
#########################################################################*/

$text-h1: 9.2rem;
$text-h2: 6rem;
$text-h3: 4.8rem;
$text-h4: 3.4rem;
$text-h5: 2.4rem;
$text-h6: 2rem;
$text-subtitle1: 1.6rem; 
$text-body1: 1.4rem; 
$text-caption: 1.2rem;
$text-overline: 1rem;

$text-light: 300;
$text-regular: 400;
$text-medium: 700;
$text-title: 900;

$btnheight: 30px;