.logo {
    display: none;
    @include tablet {
        display: block;
        width: 4rem;
        height: 4rem;
        position: fixed;
        top: 2.5rem;
        left: 6%;
        z-index: 90;
        .logo-img {
            width: 100%;
        }
    }
}