.downArrow {
    display: none;
    @include tablet {
        display: block;
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        transform: translate(0px, 3rem) rotate(-45deg);
        transition: .3s ease-in-out;
        margin: auto;
        .line {
            display: block;
            display: absolute;
            background: #66FCF1;
            transition: .3s ease-in-out;
            opacity: 0;
        }
        span:nth-child(1) {
            top: 0;
            width: 0.1rem;
            height: 100%;
            animation: arrowHeight .5s ease-in-out forwards;
            animation-delay: 2.5s;
        }
        span:nth-child(2) {
            bottom: 0;
            width: 100%;
            height: 0.1rem;
            animation: arrowWidth .5s ease-in-out forwards;
            animation-delay: 2.7s;
        }
    }
}

@keyframes arrowHeight {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}
@keyframes arrowWidth {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}