.about-container {

    // ############################ SECTION PART 1 ################################

    &__hello {
        width: 100%;
        height: 100vh;
        background: #EC5D3D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 20;
        overflow: hidden;
        &--text {
            color: $white1-color;
            margin-bottom: 2.4rem;
            font-size: 8rem;
            display: flex;
            letter-spacing: 2px;
            @include phone-medium {
                font-size: 9rem;
            }
            @include tablet {
                font-size: 11rem;
            }
            span:nth-child(1) {
                display: block;
                opacity: 0;
                animation: fadeDownAbout 1s ease-in-out forwards;
                animation-delay: 0.18s;
            }
            span:nth-child(2) {
                display: block;
                opacity: 0;
                animation: fadeDownAbout 1s ease-in-out forwards;
                animation-delay: .2s;
            }
            span:nth-child(3) {
                display: block;
                opacity: 0;
                animation: fadeDownAbout 1s ease-in-out forwards;
                animation-delay: 0.3s;
            }
            span:nth-child(4) {
                display: block;
                opacity: 0;
                animation: fadeDownAbout 1s ease-in-out forwards;
                animation-delay: 0.4s;
            }
            span:nth-child(5) {
                display: block;
                opacity: 0;
                animation: fadeDownAbout 1s ease-in-out forwards;
                animation-delay: 0.5s;
            }
        }

        // ####################### FIGURE BACKGROUND STYLES #########################

        .spacer {
            width: 0px;
            height: 200px;
            background: lighten(#EC5D3D, 1%);
            animation: cubeAppear .3s ease-in-out forwards;
            animation-delay: .5s;
            position: absolute;
            z-index: -1;
            transform: translate(-50px, 100px) rotate(20deg);
            box-shadow: 70px 70px lighten(#EC5D3D, 2%),
                        140px 140px lighten(#EC5D3D, 4%),
                        210px 210px lighten(#EC5D3D, 6%);

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: lighten(#EC5D3D, 2%);
                position: absolute;
                z-index: -1;
                transform: translate(0, -150px) rotate(0deg);
                box-shadow: 100px 100px lighten(#EC5D3D, 2%),
                            200px 200px lighten(#EC5D3D, 4%),
                            300px 300px lighten(#EC5D3D, 6%);
            }
        }
        &--description {
            color: $secondary-dark-color;
            padding: 0 15px 0 15px;
            @include phone-medium {
                padding: 0 20px 0 20px;
            }
            @include tablet {
                padding: 0;
                width: 90%;
            }
            @include desktop {
                width: 85%;
            }
            h2 {
                opacity: 0;
                animation: fadeUpDescription .3s ease-in-out forwards;
                animation-delay: 1s;
                font-size: 1.6rem;
                font-weight: 200;
                color: $secondary-dark-color;
                line-height: 25px;
                @include desktop {
                    font-size: 1.8rem;
                }
                a {
                    color: $secondary-dark-color;
                    font-weight: 400;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    // &__contact {
    //     width: 100%;
    //     height: 100vh;
    //     background: $white2-color;
    //     position: relative;
    //     z-index: 20;
    // }
}

/*######################################################################## 
                            ANIMATION                                  
#########################################################################*/

@keyframes fadeDownAbout {
    0% {
        opacity: 0;
        color: $secondary-color;
        transform: translateY(-40px);
    }
    35% {
        opacity: .7;
        color: $secondary-dark-color;
    }
    70% {
        color: $primary-color;
    }
  
    100% {
        color: $white2-color;
        opacity: 1;
        transform: translateY(0px);
    }
  }