.education-container {

    // ############################ SECTION PART 1 ################################

    &__courses {
        width: 100%;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        background: #6A1B9A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 20;
        overflow: hidden;
        @media screen and (orientation: landscape) {
            padding: 50px 0px;
            @include tablet {
                padding: 70px 0px;
            }
        }
        &--text {
            color: $white1-color;
            text-align: center;
            font-size: 6rem;
            display: flex;
            @include desktop {
                font-size: 8rem;
            }
            @for $i from 1 through 7 {
                span:nth-child(#{$i}) {
                    display: block;
                    opacity: 0;
                    animation: fadeDownWorks 1s ease-in-out forwards;
                    animation-delay: #{0.1 * $i}s;
                }
            }
        }

        // ####################### FIGURE BACKGROUND STYLES ######################

        .spacer {
            width: 0px;
            height: 200px;
            background: lighten(#6A1B9A, 1%);
            animation: cubeAppear .3s ease-in-out forwards;
            animation-delay: .5s;
            position: absolute;
            z-index: -1;
            transform: translate(-50px, 100px) rotate(20deg);
            box-shadow: 70px 70px lighten(#6A1B9A, 2%),
                        140px 140px lighten(#6A1B9A, 5%),
                        210px 210px lighten(#6A1B9A, 6%);

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: lighten(#6A1B9A, 2%);
                position: absolute;
                z-index: -1;
                transform: translate(0, -150px) rotate(0deg);
                box-shadow: 100px 100px lighten(#6A1B9A, 3%),
                            200px 200px lighten(#6A1B9A, 5%),
                            300px 300px lighten(#6A1B9A, 6%);
            }
        }
        &--description {
            color: $secondary-dark-color;
            padding: 0 15px 0 15px;
            h2 {
                color: darken($white2-color, 50%);
                font-size: 1.1rem;
                font-weight: 400;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                opacity: 0;
                animation: fadeUpSubtitleCourses .3s ease-in-out forwards;
                animation-delay: 1s;
                padding: 1rem 0 1rem 0;
            }
            &-list {
                li {
                    color: $white1-color;
                    font-weight: 200;
                    margin: 1.3rem 0;
                    text-transform: capitalize;
                    &:hover a{
                        cursor: pointer;
                        color: #64FFDA;
                    }
                }
                @for $i from 1 through 6 {
                    li:nth-child(#{$i}) {
                        animation: fadeUpCourses .5s ease-in-out forwards;
                        animation-delay: #{1.2 + 0.1 * $i}s;
                    }
                }
            }
            .education-btn {
                @include btn($secondary-dark-color, $white2-color);
            }
        }
        
    }

    // ############################ SECTION PART 2 ################################

    &__certificates {
        width: 100%;
        background: lighten($primary-color, 10%);
        padding-bottom: 40px;
        @media screen and (orientation: landscape) {
            padding: 50px 0px;
        }
        &--title {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            padding: 4rem 3.2rem;
            line-height: 2.2rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $primary-dark-color;
        }
        &--lists {
            h3 {
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 3.2rem;
                font-weight: 600;
                color: $primary-dark-color;
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }
            ul {
                li {
                    padding: 3rem 0;
                    font-weight: 800;
                    text-transform: capitalize;
                    font-size: 2.4rem;
                    a {
                        color: lighten($secondary-dark-color, 10%);
                        &:hover {
                            cursor: pointer;
                            color: $white2-color;
                        }
                    }
                }
            }
        }
    }
}

/*######################################################################## 
                            ANIMATION                                  
#########################################################################*/

@keyframes fadeDownCourses {
    0% {
        opacity: 0;
        color: $white2-color;
        transform: translateY(-50px);
    }
    35% {
        opacity: 0.8;
        color: $white2-color;
    }
    70% {
        color: $primary-color;
    }
  
    100% {
        color: #64FFDA;
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeUpSubtitleCourses {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeUpCourses {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}