.portfolio-container {

    // ############################ SECTION PART 1 ################################

    &__works {
        width: 100%;
        min-height: 100vh;
        background: #2E47BF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 20;
        overflow: hidden;
        &--text {
            color: $white1-color;
            font-size: 7.2rem;
            display: flex;
            letter-spacing: 2px;
            @include phone-medium {
                font-size: 8.5rem;
                letter-spacing: 3px;
            }

            // Using control directives FOR in Sass to refactor code below:
            @for $i from 1 through 5 {
                span:nth-child(#{$i}) {
                    opacity: 0;
                    animation: fadeDownWorks 1s ease-in-out forwards;
                    animation-delay: #{0.1 * $i}s;
                }
            }
            // span:nth-child(1) {
            //     display: block;
            //     opacity: 0;
            //     animation: fadeDownWorks 1s ease-in-out forwards;
            //     animation-delay: 0.1s;
            // }
            // span:nth-child(2) {
            //     display: block;
            //     opacity: 0;
            //     animation: fadeDownWorks 1s ease-in-out forwards;
            //     animation-delay: 0.2s;
            // }
            // span:nth-child(3) {
            //     display: block;
            //     opacity: 0;
            //     animation: fadeDownWorks 1s ease-in-out forwards;
            //     animation-delay: 0.3s;
            // }
            // span:nth-child(4) {
            //     display: block;
            //     opacity: 0;
            //     animation: fadeDownWorks 1s ease-in-out forwards;
            //     animation-delay: 0.4s;
            // }
            // span:nth-child(5) {
            //     display: block;
            //     opacity: 0;
            //     animation: fadeDownWorks 1s ease-in-out forwards;
            //     animation-delay: 0.5s;
            // }
        }

        // ##################### FIGURE BACKGROUND STYLES ######################

        .spacer {
            width: 0px;
            height: 200px;
            background: lighten(#2E47BF, 1%);
            animation: cubeAppear .3s ease-in-out forwards;
            animation-delay: .8s;
            position: absolute;
            z-index: -1;
            border: 0.5px solid darken(#2E47BF, 1%);
            transform: translate(-50px, 100px) rotate(20deg);
            box-shadow: 70px 70px lighten(#2E47BF, 2%),
                        140px 140px lighten(#2E47BF, 4%),
                        210px 210px lighten(#2E47BF, 6%);

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: lighten(#2E47BF, 2%);
                position: absolute;
                z-index: -1;
                border: 0.5px solid darken(#2E47BF, 1%);
                transform: translate(0, -150px) rotate(0deg);
                box-shadow: 100px 100px lighten(#2E47BF, 3%),
                            200px 200px lighten(#2E47BF, 6%),
                            300px 300px lighten(#2E47BF, 8%);
            }
        }
        &--description {
            padding: 0 15px;
            transform: translateY(40px);
            h2 {
                opacity: 0;
                animation: fadeUpSubTitleWorks .3s ease-in-out forwards;
                animation-delay: 1s;
                font-size: 1.4rem;
                font-weight: 400;
                color: $white2-color;
                letter-spacing: 2px;
                text-transform: capitalize;
                padding: 10px 0;
                border-bottom: 1px solid #64FFDA;
            }
            &-list {
                @include desktop {
                    display: none;
                }
                li {
                    color: $white1-color;
                    font-weight: 200;
                    margin: 15px 0;
                    text-transform: capitalize;
                    .li-route {
                        color: inherit;
                    }
                }
                @for $i from 1 through 8 {
                    li:nth-child(#{$i}) {
                        opacity: 0;
                        animation: fadeUpWorksLi .3s ease-in-out forwards;
                        animation-delay: #{1.2 + 0.1 * $i}s;
                    }
                }
            }
            .desktContainer-list {
                display: none;
                @include desktop {
                    display: block;
                    li {
                        color: $white1-color;
                        font-weight: 200;
                        margin: 1.5rem 0;
                        text-transform: capitalize;
                        cursor: pointer;
                        .li-route {
                            color: inherit;
                            &:hover {
                                color: #64FFDA;
                            }
                        }
                    }
                    @for $i from 1 through 8 {
                        li:nth-child(#{$i}) {
                            opacity: 0;
                            animation: fadeUpWorksLi .3s ease-in-out forwards;
                            animation-delay: #{1.2 + 0.1 * $i}s;
                        }
                    }
                }
            }
            &-btn {
                text-transform: capitalize;
                opacity: 0;
                animation: fadeUpSubTitleWorks .3s ease-in-out forwards;
                animation-delay: 1.3s;
                background: $secondary-dark-color;
                border: 1px solid transparent;
                outline: none;
                color: $white1-color;
                padding: 3px 19px;
                font-size: 1.4rem;
                letter-spacing: 1.5px;
                font-family: 'Indie Flower';
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    // ######################## SECTION PART 2 MODE MOBILE ##########################

    &__projects {
        background: $secondary-dark-color;
        padding: 0 1%;
        @include phone-medium {
            padding: 2rem 2rem;
        }
        @include tablet {
            padding: 4rem 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-gap: 2rem;
        }
        @include desktop {
            display: none;
        }
        &--item {
            width: 100%;
            height: 450px;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 0.5px solid $secondary-color;
            @include tablet{
                justify-content: flex-start;
            }
            @include desktop {
                display: none;
            }
            &--img {
                width: 100%;
                border-radius: 2px;
                .lazy-img {
                    width: 100%;
                    height: 100%;
                }
            }
            &--links {
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                line-height: 25px;
                .details {
                    text-align: center;
                    color: $text-grey1;
                    font-size: 1.4rem;
                    font-weight: 400;
                }
                .name {
                    text-align: center;
                    color: #2E47BF;
                    font-size: 1.6rem;
                    font-weight: 600;
                    text-transform: capitalize;
                }
                .skills-span {
                    margin-top: 10px; 
                    text-align: center;
                    font-size: 1.4rem;
                    color: $text-grey1;
                    text-transform: capitalize;
                    font-weight: 200;
                }
            }
            @include tablet {
                width: 100%;
                height: 100%;
            }
        }
    }

    // ########################## SECTION PART 2 MODE DESKTOP ##############################

    &__DesktProjects {
        display: none;
        @include desktop {
            display: block;
            width: 100%;
            background: $secondary-dark-color;
            &--container {
                width: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 50% 50%;
                justify-items: center;
                align-items: center;
                grid-row-gap: 8rem;
                padding: 4rem 0 12rem 0;
                .DesktProjects-item {
                    width: 90%;
                    min-height: 400px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .DesktP-img {
                        width: 50%;
                        height: 100%;
                        background: transparent;
                        border-bottom: 1px solid #66FCF1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3rem;
                        position: relative;
                        .lazy-img {
                            width: 100%;
                        }
                        .img-overlay {
                            position: absolute;
                            width: 100%;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-size: 3.5rem;
                            text-transform: capitalize;
                            text-align: center;
                            font-weight: 600;
                            background: rgba(0,0,0,0.7);
                            opacity: 0;
                            transition: .18s ease-in;
                            letter-spacing: 2px;
                        }
                        &:hover {
                            cursor: pointer;
                            .img-overlay {
                                opacity: 1;
                            }
                        }
                    }
                    .DesktP-links {
                        width: 40%;
                        height: 100%;
                        background: $secondary-dark-color;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .details {
                            text-align: center;
                            color: $white1-color;
                            font-size: 2.2rem;
                            font-weight: 400;
                            opacity: 1;
                            padding: 0 40px;
                            margin-bottom: 1.6rem;
                            cursor: pointer;
                        }
                        .name {
                            text-align: center;
                            color: #66FCF1;
                            font-size: 3.5rem;
                            font-weight: 800;
                            text-transform: capitalize;
                            opacity: 1;
                            padding: 0 40px;
                            letter-spacing: 2px;
                            cursor: pointer;
                        }
                        .skills-span {
                            margin-top: 10px; 
                            text-align: center;
                            font-size: 1.8rem;
                            color: $white1-color;
                            text-transform: capitalize;
                            font-weight: 200;
                            opacity: 1;
                            padding: 0 40px;
                        }
                    }
                }
            }
        }
    }
    .row-reverse {
        flex-direction: row-reverse;
    }

}

.v-lazy-image {
    filter: blur(10px);
    transition: filter 0.7s;
}
.v-lazy-image-loaded {
    filter: blur(0);
}

/*######################################################################## 
                            ANIMATION                                  
#########################################################################*/

@keyframes fadeDownWorks {
    0% {
        opacity: 0;
        color: $white2-color;
        transform: translateY(-40px);
    }
    35% {
        opacity: 0.8;
        color: $white2-color;
    }
    70% {
        color: $primary-color;
    }
  
    100% {
        color: #66FCF1;
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeUpSubTitleWorks {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeUpWorksLi {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}