.skills-container {

    // ############################ SECTION PART 1 ################################
    &__soft {
        width: 100%;
        min-height: 100vh;
        background: #0B0C10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 40;
        overflow: hidden;
        &--text {
            color: $white1-color;
            margin-bottom: 0rem;
            font-size: 8.5rem;
            display: flex;
            letter-spacing: 2px;
            @include phone-medium {
                font-size: 9.6rem;
                letter-spacing: 3px;
            }
            @for $i from 1 through 6 {
                span:nth-child(#{$i}) {
                    display: block;
                    opacity: 0;
                    animation: fadeDownSkills 1s ease-in-out forwards;
                    animation-delay: #{0.1 * $i}s;
                }
            }
        }

        // ####################### FIGURE BACKGROUND STYLES #########################

        .spacer {
            width: 0px;
            height: 200px;
            background: lighten(#0b0c10, 1%);
            animation: cubeAppear .3s ease-in-out forwards;
            animation-delay: 2s;
            position: absolute;
            z-index: -1;
            transform: translate(-50px, 100px) rotate(20deg);
            box-shadow: 70px 70px lighten(#0b0c10, 2%),
                        140px 140px lighten(#0b0c10, 5%),
                        210px 210px lighten(#0b0c10, 6%);

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: lighten(#0b0c10, 2%);
                position: absolute;
                z-index: -1;
                transform: translate(0, -150px) rotate(0deg);
                box-shadow: 100px 100px lighten(#0b0c10, 3%),
                            200px 200px lighten(#0b0c10, 5%),
                            300px 300px lighten(#0b0c10, 6%);
            }
        }
        &--description {
            color: $secondary-dark-color;
            padding: 0 15px 0 15px;
            transform: translateY(40px);
            h2 {
                opacity: 0;
                animation: fadeUpSubTitle .3s ease-in-out forwards;
                animation-delay: 1.1s;
                font-size: 1.4rem;
                font-weight: 400;
                color: $white2-color;
                letter-spacing: 2px;
                padding: 1rem 0;
                border-bottom: 1px solid #64FFDA;
            }
            &-list {
                li {
                    color: #C5C6C7;
                    font-weight: 200;
                    margin: 15px 0;
                }
                @for $i from 1 through 8 {
                    li:nth-child(#{$i}) {
                        animation: fadeUpSoftSkills 1s ease-in-out forwards;
                        animation-delay: #{1.2 + 0.1 * $i}s;
                    }
                }
            }
            .skills-btn {
                @include btn($primary-color, $secondary-dark-color);
            }
        }
    }
    // ############################ SECTION PART 2 ################################
    &__tools {
        width: 100%;
        min-height: 100vh;
        padding: 0 0 68px 0;
        background: #EEEEEE;
        position: relative;
        z-index: 20;
        .subTools-container {
            margin: auto;
            width: 100%;
            color: black;
            height: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 1.5rem;
            @include tablet {
                width: 60%;
            }
            @include desktop {
                width: 40%;
            }
            .subTools {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.2rem;
                text-align: center;
                letter-spacing: 0.2rem;
                text-transform: capitalize;
                color: $secondary-dark-color;
            }
        }
        .textAppear {
            transform: translateY(0);
            opacity: 1;
        }
        .skills-content {
            width: 100%;
            min-height: calc(100vh - 12rem);
            display: flex;
            flex-direction: column;
            @include tablet {
                flex-direction: row;
            }
            .skills-center {
                width: 100%;
                height: 100%;
                @include tablet {
                    width: 45%;
                }
                .skills-list {
                  display: grid;
                  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
                  text-align: center;
                  grid-column-gap: 1.90rem;
                  grid-row-gap: 4.5rem;
                  padding: 1rem 2rem;
                  max-width: 650px;
                  margin: auto;
                    li {
                    width: 100%;
                    margin: auto;
                    position: relative;
                    span, a {
                        font-size: 5.6rem;
                        color: $secondary-dark-color;
                        width: 100%;
                        background: transparent;
                        text-align: center;
                        transition: .3s;
                        &:hover {
                            cursor: pointer;
                            }
                        &:hover .skill-item__popover {
                            opacity: 1;
                            }
                        @include tablet {
                            font-size: 4rem;
                            }
                        @include desktop {
                            font-size: 6rem;
                            }
                        }
                    .skill-item__popover {
                        display: block;
                        width: 80%;
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        right: 0;
                        font-size: 1.2rem;
                        margin: auto;
                        letter-spacing: 1px;
                        opacity: 1;
                        transition: 0.2s;
                        }
                    }
                }
            }
            .skills-mupi {
                display: none;
                @include tablet {
                    display: block;
                    width: 55%;
                    padding: 1rem 2rem;
                    display: flex;
                    flex-direction: column;
                    .css {
                        @include mupi(30%, center);
                    }
                    .javascript {
                        @include mupi(30%, center);
                    }
                    .workflow {
                        @include mupi(30%, flex-start);
                    }
                    .ul-list {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        color: white;
                        opacity: 0;
                        h4 {
                            border-bottom: 1px solid #66FCF1;
                            font-size: 1.2rem;
                            margin-bottom: 1rem;
                            letter-spacing: 0.2rem;
                            padding-bottom: 0.2rem;
                            @include desktop {
                                font-size: 1.6rem;
                            }
                        }
                        li {
                            font-weight: 200;
                            text-transform: capitalize;
                            font-size: 1.2rem;
                            @include desktop {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.animationSkill {
    animation: listAppear 0.3s cubic-bezier(.52,.01,.16,1) forwards;
    animation-delay: .3s;
}

/*######################################################################## 
                            ICONS SKILLS STYLES                                  
#########################################################################*/

.html5-icon {
    color: #EF652A;
}
.css3-icon {
    color: #1570B7;
}
.javascript-icon {
    color: #EED71A;
}
.vue-icon {
    color: #3FB37F;
}
.bootstrap-icon {
    color: #5D3C87;
}
.sass-icon {
    color: #C56394;
}
.grid-icon {
    color: $secondary-dark-color;
}
.npm-icon {
    color: #C60B00;
}
.github-icon {
    color: $secondary-dark-color;
}
.webpack-icon {
    color: #8AD0F3;
}

/*######################################################################## 
                            ANIMATION                                  
#########################################################################*/

@keyframes fadeDownSkills {
    0% {
        opacity: 0;
        color: $white2-color;
        transform: translateY(-40px);
    }
    35% {
        opacity: 0.8;
        color: $white2-color;
    }
    70% {
        color: $primary-color;
    }
  
    100% {
        color: #66FCF1;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeUpSoftSkills {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeUpSubTitle {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes listAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}