.skills-content {
    // background: #1F2833;
    background: #0B0C10;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white1-color;
}