.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    position: relative;
    background: white;
    z-index: 40;
    &__details {
        font-size: 1rem;
        margin-top: 4rem;
        margin-bottom: 1.6rem;
        color: $text-grey3;
        line-height: 18px;
        letter-spacing: 1px;
        font-weight: 400;
        a {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1rem;
        }
        @include phone-medium {
            width: 90%;
        }
        @include tablet {
            width: 50%;
            margin-top: 5rem;
            font-size: 1.2rem;
        }
        @include desktop {
            width: 30%;
        }
    }
    &__social-icons {
        font-size: 1.8rem;
        .icon-link {
            padding: 5px;
            margin: 0 5px 0 5px;
            color: $text-grey3;
            transition: all .2s ease-in-out;
            &:hover {
                cursor: pointer;
                color: $primary-dark-color;
            }
        }
        @include tablet {
            margin-bottom: 20px;
        }
    }
    &__up-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 40;
        top: 0;
        left: 50%;
        transform: translate(-20px, -20px);
        background: $secondary-dark-color;
        border: 1px solid white;
        color: $white2-color;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include lg-desktop {
            width: 60px;
            height: 60px;
            transform: translate(-30px, -30px);
        }
        &--icon {
            display: block;
            font-size: 2.5rem;
            @include lg-desktop {
                font-size: 3rem;
            }
        }
    }
}